*, :after, :before{
    box-sizing: border-box;
    border: 0;
    margin: 0;
}

html {
    font-size: 16px;
    font-family: sans-serif;
}

body {
    background-image: linear-gradient(45deg, rgba(0, 23, 156, 0.952), rgba(0, 0, 0, 0) 100%),
                      linear-gradient(240deg, rgb(0, 32, 212), rgb(0, 255, 0, 0) 100%),
                      linear-gradient(350deg, rgb(34, 0, 129), rgb(0, 0, 255, 0) 100%);

    overflow: hidden;
}

.grid {
    width: 82vmin;
    height: 82vmin;
    background-color: rgba(184, 184, 184, 0.1);
    border: 1px solid rgba(231, 195, 252, 0.3);
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    backdrop-filter: blur(3px);
    margin: auto;
}

.panel {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    text-align: center;
    margin: 0.8rem 0 0.2rem 0;
}

.panel__h1 {
    font-size: calc(0.2rem + 5vmin);
    color: rgba(255, 255, 255, 1);
    text-shadow:
        0 0 5px rgb(68, 243, 255),
        0 0 20px rgb(68, 243, 255),
        0 0 40px rgb(68, 243, 255),
        0 0 100px rgb(68, 243, 255),
        0 0 250px rgb(68, 243, 255),
        0 0 500px rgb(68, 243, 255);
    animation: heading1 5s infinite;
}

@keyframes heading1 {
    0% {
        opacity: 1;
    }
    2% {
        opacity: 0.7;
    }
    3% {
        opacity: 1;
    }
    5% {
        opacity: 0.3;
    }
    6% {
        opacity: 1;
    }
}

.panel__h2 {
    color: rgb(255, 255, 255);
    font-size: calc(0.2rem + 3vmin);
    padding: 1vh;
    text-shadow:
    0 0 5px rgb(111, 210, 255),
    0 0 20px rgb(111, 210, 255),
    0 0 40px rgb(111, 210, 255),
    0 0 100px rgb(111, 210, 255),
    0 0 250px rgb(111, 210, 255);
}

.reset {
    position: absolute;
    top: 0;
    margin: 1rem 0 0 1rem;
    font-size: 1.3rem;
    padding: 0.5rem;
    border: none;
    box-shadow: inset 0 0 10px rgb(70, 70, 255);
}

.reset:hover {
    box-shadow: inset 0 0 2px white;
    cursor: pointer;
    text-shadow: 0 0 25px rgba(255, 255, 255),
                 0 0 50px rgba(255, 255, 255);
}

.countdown {
    color: white;
    text-shadow: 1px 1px 4px white;
    font-size: 6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    transition: scale 0.3s linear;
}

.countdown__value {
    transform: scale(0.2);
}

.invader {
    background: black;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    margin: auto;
    z-index: 0;
}

.ship {
    background-color: blue;
    border-radius: 0;
}

.shot {
    background-color: orange;
}

/* background animation */
.space {
    z-index: -1;
}

.meteor {
    width: 1px;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: -120px;
    animation-name: meteor;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    z-index: -1;
}

.meteor::before {
    content: '';
    position: absolute;
    height: 120px;
    width: 1px;
    background-image: linear-gradient(180deg, rgb(255, 255, 255) 10%, rgba(255, 255, 255, 0));
    top: 1px;
    left: 0;
    z-index: -1;
}

@keyframes meteor {
    100% {
        transform: translateY(-1200px);
    }
}

.btns {
    position: absolute;
    right: 0;
    margin-right: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 2;
    grid-column-gap: 10px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
    padding: 0.8rem;
    border-radius: 5px;
}

.btns__sound {
    color: white;
    font-size: 1.5vw;
    text-shadow: 
        0 0 20px rgba(255, 255, 255, 0.5);
    height: 2vw;
    grid-area: 1 / 1 / 2 / 3;
    margin: auto;
}

.btns__ship {
    height: 2vw;
    box-shadow: inset 0px 0px 8px blue;
    font-size: calc(0.1rem + 1vw);
}

.btns__invader {
    height: 2vw;
    box-shadow: inset 0px 0px 8px blue;
    font-size: calc(0.1rem + 1vw);
}

.green {
    color:rgb(29, 255, 29);
    text-shadow: 
        0 0 10px rgb(29, 255, 29, 0.8),
        0 0 20px rgb(29, 255, 29, 0.8);
}

.red {
    color:rgb(255, 29, 29);
    text-shadow: 
        0 0 10px rgb(255, 29, 29),
        0 0 20px rgb(255, 29, 29);
}

.btns__ship:hover, .btns__invader:hover  {
    box-shadow: 0px 0px 1px rgba(255, 255, 255);
    text-shadow: 
        0 0 25px rgba(255, 255, 255),
        0 0 50px rgba(255, 255, 255);
    cursor: pointer;
}

.menu {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu__options {
    width: 70%;
}

.menu__default{
    text-align: center;
    font-size: 1.5vw;
    height: 3vw;
    border: 2px solid rgb(29, 255, 29);
    background:rgb(0, 0, 255, 0);
    color: rgb(29, 255, 29);
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0 0 5px rgb(29, 255, 29),
                inset 0 0 10px rgb(29, 255, 29);
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
}

.menu__default:hover {
    cursor: pointer;
}

.menu__choose {
    position: relative;
    transition: opacity 0.3s linear;
}

.menu__title {
    position: absolute;
    text-align: center;
    font-size: 1.5vw;
    height: 3vw;
    width: 100%;
    border: 2px solid white;
    background:rgb(0, 0, 255, 0);
    color: white;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0 0 5px white,
                inset 0 0 10px white;
    padding: 0.5rem;
    z-index: 5;
}

.menu__title:hover {
    cursor: pointer;
}

.menu__levels {
    width: 100%;
    height: 3vw;
    display: flex;
    justify-content: space-evenly;
    transition: all 0.2s linear;
    z-index: -1;
    visibility: hidden; 
    transform: translateY(60px);
    opacity: 0;
}

.menu__choose1 {
    color: white;
    font-size: 1.5rem;
    height: 100%;
    width: 3vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 5px rgb(0, 255, 0);
    background: rgb(0, 255, 0, 0.1);
    border: 2px solid rgb(0, 255, 0);
    border-radius: 50%;
}

.menu__choose2 {
    color: white;
    font-size: 1.5rem;
    height: 100%;
    width: 3vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 5px rgb(217, 255, 0);
    background: rgb(217, 255, 0, 0.1);
    border: 2px solid rgb(217, 255, 0);
    border-radius: 50%;
}

.menu__choose3 {
    color: white;
    font-size: 1.5rem;
    height: 100%;
    width: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 5px rgb(255, 0, 0);
    background: rgb(255, 0, 0, 0.1);
    border: 2px solid rgb(255, 0, 0);
    border-radius: 50%;
}

.menu__choose1:hover, .menu__choose2:hover, .menu__choose3:hover {
    cursor: pointer;
}

.menu__start {
    color: rgb(4, 224, 253);
    margin-top: 5vw;
    width: 20vw;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: rgba(4, 224, 253, 0.1);
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
    padding: 1rem;
    border: 2px solid rgb(4, 224, 253);
    box-shadow: 
        0 0 2px rgb(4, 224, 253)
        inset 0 0 20px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.menu__start:hover {
    cursor: pointer;
    box-shadow:
        inset 0 0 5px rgba(4, 224, 253, 0.3),
        inset 0 0 10px rgba(4, 224, 253, 0.7),
        inset 0 0 20px rgba(4, 224, 253, 1);
}

