*, :after, :before{
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:midnightblue
}

.grid {
    width: 85vmin;
    height: 85vmin;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    
}

.invader {
    background: red;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    margin: auto;
    z-index: 0;
}

.ship {
    background-color: blue;
    border-radius: 0;
}

.shot {
    background-color: orange;
    
}

