*, :after, :before{
    box-sizing: border-box;
    border: 0;
    margin: 0;
}

html {
    font-size: 16px;
    font-family: sans-serif;
}

body {
    background-image: linear-gradient(45deg, rgba(0, 23, 156, 0.952), rgba(0, 0, 0, 0) 100%),
                      linear-gradient(240deg, rgb(0, 32, 212), rgb(0, 255, 0, 0) 100%),
                      linear-gradient(350deg, rgb(34, 0, 129), rgb(0, 0, 255, 0) 100%);

    overflow: hidden;
}

.grid {
    width: 82vmin;
    height: 82vmin;
    background-color: rgba(184, 184, 184, 0.1);
    border: 1px solid rgba(231, 195, 252, 0.3);
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    backdrop-filter: blur(3px);
    margin: auto;
}

.panel {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    text-align: center;
    margin: 0.8rem 0 0.2rem 0;
}

.panel__h1 {
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 1);
    text-shadow:
        0 0 5px rgb(68, 243, 255),
        0 0 20px rgb(68, 243, 255),
        0 0 40px rgb(68, 243, 255),
        0 0 100px rgb(68, 243, 255),
        0 0 250px rgb(68, 243, 255),
        0 0 500px rgb(68, 243, 255);
    animation: heading1 5s infinite;
}

@keyframes heading1 {
    0% {
        opacity: 1;
    }
    2% {
        opacity: 0.7;
    }
    3% {
        opacity: 1;
    }
    5% {
        opacity: 0.3;
    }
    6% {
        opacity: 1;
    }
}

.panel__h2 {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding: 0.4rem;
    text-shadow:
    0 0 5px rgb(111, 210, 255),
    0 0 20px rgb(111, 210, 255),
    0 0 40px rgb(111, 210, 255),
    0 0 100px rgb(111, 210, 255),
    0 0 250px rgb(111, 210, 255);
}

.controls {
    position: absolute;
    top: 0;
    margin: 1rem 0 0 1rem;
    display: flex;
    align-items: flex-start;
    z-index: 5;
}

.controls__reset {
    font-size: 1.3rem;
    padding: 0.5rem;
    border: none;
    box-shadow: inset 0 0 10px rgb(70, 70, 255);
}

.controls__hint {
    margin-left: 0.5rem;
}

.controls__panel {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    visibility: hidden;
}

.controls__btn:hover~.controls__panel {
    visibility: visible;
}

.controls__btn {
    font-size: 1.3rem;
    padding: 0.5rem;
    border: none;
    box-shadow: inset 0 0 10px rgb(70, 70, 255); 
    margin-bottom: 0.5rem;
}

.controls__panel > .controls__key {
    text-align: center;
    font-size: 1.1rem;
    width: max-content;
    color: white;
    padding: 0.2rem;
    font-weight: 400;
    letter-spacing: 2px;
}

.controls__spacebar {
    padding: 0.5vw 1vw;
    font-size: 1rem;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.7), rgb(255, 255, 255));
    box-shadow: 0 2px 0px white,
                0 2px 5px rgba(241, 210, 210, 0.5);
    border-radius: 6px;
    margin-bottom: 0.5rem;
    color:black;
    font-weight: 600;
}

.controls__arrowKey {
    width: 8vw;
    display: flex;
    justify-content: space-around;
}

.controls__left {
    padding: 0.6vw 0.9vw 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.7), rgb(255, 255, 255));
    box-shadow: 0 2px 0px white,
                0 2px 5px rgba(241, 210, 210, 0.5);
    border-radius: 6px;
}

.controls__right {
    padding: 0.6vw 0.9vw 0.4vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.7), rgb(255, 255, 255));
    box-shadow: 0 2px 0px white,
                0 2px 5px rgba(241, 210, 210, 0.5);
    border-radius: 6px;
}

.controls__reset:hover, .controls__btn:hover {
    box-shadow: inset 0 0 2px white;
    cursor: pointer;
    text-shadow: 0 0 25px rgba(255, 255, 255),
                 0 0 50px rgba(255, 255, 255);
}

.countdown {
    color: white;
    text-shadow: 1px 1px 4px white;
    font-size: 6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    transition: scale 0.3s linear;
}

.countdown__value {
    transform: scale(0.2);
}

.invader {
    background: black;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    margin: auto;
    z-index: 0;
}

.ship {
    background-color: blue;
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.shot {
    background-color: orange;
    width: 30%;
    margin-left: 35%;
}

/* background animation */
.space {
    z-index: -1;
}

.meteor {
    width: 1px;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: -120px;
    animation-name: meteor;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    z-index: -1;
}

.meteor::before {
    content: '';
    position: absolute;
    height: 120px;
    width: 1px;
    background-image: linear-gradient(180deg, rgb(255, 255, 255) 10%, rgba(255, 255, 255, 0));
    top: 1px;
    left: 0;
    z-index: -1;
}

@keyframes meteor {
    100% {
        transform: translateY(-1200px);
    }
}

.btns {
    position: absolute;
    right: 0;
    margin-right: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
    grid-column-gap: 10px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
    padding: 0.5rem;
    border-radius: 5px;
}

.btns__sound {
    color: white;
    font-size: 1.5rem;
    text-shadow: 
        0 0 20px rgba(255, 255, 255, 0.5);
    height: 2rem;
    grid-area: 1 / 1 / 2 / 3;
    margin: auto;
}

.btns__ship {
    height: 2rem;
    box-shadow: inset 0px 0px 5px blue;
    font-size: 1.2rem;
}

.btns__invader {
    height: 2rem;
    box-shadow: inset 0px 0px 5px blue;
    font-size: 1.2rem;
}

.green {
    color:rgb(0, 224, 0);
    text-shadow: 
        0 0 15px rgba(0, 255, 0, 0.8),
        0 0 25px rgba(0, 255, 0, 0.8);
}

.red {
    color:rgb(255, 29, 29);
    text-shadow: 
        0 0 20px rgb(255, 29, 29),
        0 0 30px rgb(255, 29, 29);
}

.btns__ship:hover, .btns__invader:hover  {
    box-shadow: 0px 0px 1px rgba(255, 255, 255);
    text-shadow: 
        0 0 25px rgba(255, 255, 255),
        0 0 50px rgba(255, 255, 255);
    cursor: pointer;
}

.menu {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu__options {
    width: 15rem;
}

.menu__default{
    text-align: center;
    font-size: 1.5rem;
    border: 2px solid rgb(29, 255, 29);
    background:rgb(0, 0, 255, 0);
    color: rgb(29, 255, 29);
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0 0 5px rgb(29, 255, 29),
                inset 0 0 10px rgb(29, 255, 29);
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
}

.menu__default:hover {
    cursor: pointer;
}

.menu__choose {
    position: relative;
    transition: opacity 0.3s linear;
}

.menu__title {
    position: absolute;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    border: 2px solid white;
    background:rgb(0, 0, 255, 0);
    color: white;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0 0 5px white,
                inset 0 0 10px white;
    padding: 0.5rem;
    z-index: 5;
}

.menu__title:hover {
    cursor: pointer;
}

.menu__levels {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    transition: all 0.2s linear;
    z-index: -1;
    visibility: hidden; 
    transform: translateY(60px);
    opacity: 0;
}

.menu__choose1 {
    color: white;
    font-size: 1.5rem;
    width: 3rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 5px rgb(0, 255, 0);
    background: rgb(0, 255, 0, 0.1);
    border: 2px solid rgb(0, 255, 0);
    border-radius: 50%;
}

.menu__choose2 {
    color: white;
    font-size: 1.5rem;
    width: 3rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 5px rgb(217, 255, 0);
    background: rgb(217, 255, 0, 0.1);
    border: 2px solid rgb(217, 255, 0);
    border-radius: 50%;
}

.menu__choose3 {
    color: white;
    font-size: 1.5rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 5px rgb(255, 0, 0);
    background: rgb(255, 0, 0, 0.1);
    border: 2px solid rgb(255, 0, 0);
    border-radius: 50%;
}

.menu__choose1:hover, .menu__choose2:hover, .menu__choose3:hover {
    cursor: pointer;
}

.menu__start {
    color: rgb(4, 224, 253);
    margin-top: 5rem;
    width: 20rem;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: rgba(4, 224, 253, 0.1);
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
    padding: 1rem;
    border: 2px solid rgb(4, 224, 253);
    box-shadow: 
        0 0 2px rgb(4, 224, 253)
        inset 0 0 20px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.menu__start:hover {
    cursor: pointer;
    box-shadow:
        inset 0 0 5px rgba(4, 224, 253, 0.3),
        inset 0 0 10px rgba(4, 224, 253, 0.7),
        inset 0 0 20px rgba(4, 224, 253, 1);
}

@media screen and (max-width: 980px) {
    .btns {
        box-shadow: 0 0 0 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0;
    }

    .btns__sound {
        font-size: calc(0.6rem + 1vw);
        margin: 0 auto 0.2rem;
        height: unset;
    }

    .fas {
        font-size: 1.2rem;
        margin: 0 auto;
    }

    .btns__invader {
        margin-top: 0.5rem;
    }

    .panel {
        width: 30%;
    }

    .panel__h1 {
        font-size: calc(1rem + 2vw);
    }

    .panel__h2 {
        font-size: calc(0.6rem + 1vw);
    }

    .controls {
        flex-direction: column;
    }

    .controls__hint {
        margin: 0.5rem 0 0 0;
    }
}

@media screen and (max-width: 720px) {
    .grid {
        margin-top: 5%;
    }

    .btns__ship {
        height: unset;
        padding: 1vw;
        font-size: calc(0.5rem + 1.6vw);
    }

    .btns__invader {
        height: unset;
        padding: 1vw;
        font-size: calc(0.5rem + 1.6vw);
    }

    .controls__reset {
        height: unset;
        padding: 1vw;
        font-size: calc(0.5rem + 1.6vw);
        margin-top: 1rem;
    }

    .controls__btn {
        height: unset;
        padding: 1vw;
        font-size: calc(0.5rem + 1.6vw);
    }

    .controls__arrowKey {
        width: 12vw;
    }

    .countdown {
        top: 40vw;
    }

    .menu {
        top: 45vw;
    }

    .menu__options {
        width: 35vw;
    }

    .menu__default {
        font-size: calc(0.8rem + 1vw);
    }

    .menu__title {
        font-size: calc(0.8rem + 1vw);
    }

    .menu__levels {
        height: 7vw;
    }

    .menu__choose1, .menu__choose2, .menu__choose3 {
        width: 7vw;
        font-size: calc(1rem + 1vw);
    }

    .menu__start {
        width: 50vw;
        font-size: calc(1rem + 1vw);
        padding: 2vw;
    }
}